<% content_for :meta_title, "#{@web_project.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @web_project.description %>
<% content_for :meta_image, image_path(@web_project.home_image) %>

<div class="border-wrapper">
  <div class="intro position-relative overflow-hidden top-0">
    <%= image_tag (@web_project.home_image), alt: "alttext", class: "home-intro-background", style: "object-fit: cover; top: 0; left: 0" %>
    <h1 class="intro-h1"><%= @web_project.title %></h1>
    <h3 class="content-container welcome-text" style="margin-top: -18px"><%= @web_project.tagline %></h3>
    <div class="scroll-arrow">
      <h4 class="scroll-text txt">Scroll</h4>
      <i class="fas fa-long-arrow-alt-down"></i>
    </div>
  </div>

  <div class="content-container">
    <%= link_to :back do %>
      <div class="back-arrow">
        <i class="fas fa-long-arrow-alt-left"></i>
        <h4 class="txt">Back</h4>
      </div>
    <% end %>
    <div class="skills">
      <h2>ABOUT</h2>
      <div class="about-info">
        <p style="margin-bottom: 40px"><%= @web_project.description %></p>
        <div class="project-buttons">
          <a target="_blank", href=<%= @web_project.site_url %> , class="txt project-btn site-btn">Visit Project</a>
          <a target="_blank", href=<%= @web_project.source_url %> , class="txt project-btn source-btn">View Source</a>
        </div>
      </div>
    </div>
    <div class="gallery">
      <h2>GALLERY</h2>
      <div class="show-images row">
        <% @web_project_images.each do |image| %>
          <div class="column">
            <%= image_tag image.image_url, alt: "#", class: "show-image" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
