<div class="border-wrapper">
  <%= render 'shared/home_intro' %>
  <div class="content-container">
    <div class="skills">
      <div>
        <h2>SKILLS</h2>
        <p style="width: 280px;">After initially acquiring a BSc in Marine Zoology, I decided to pivot my career in the direction of web app development.<br><br>I learnt most of what I know from the #1 coding bootcamp worldwide, Le Wagon. Here's an overview of what I can do:</p>
      </div>
      <div class="skills-list">
        <div class="skills-front">
          <h4 class="pb-3">Front-end</h4>
          <ul class="list-unstyled">
            <li><p>HTML / CSS / SASS</p></li>
            <li><p>JavaScript (ES6)</p></li>
            <li><p>AJAX & DOM Events</p></li>
          </ul>
        </div>
        <div class="skills-back">
          <h4 class="pb-3">Back-end</h4>
          <ul class="list-unstyled">
            <li><p>Ruby</p></li>
            <li><p>Ruby on Rails Framework</p></li>
            <li><p>SQL & Database Structuring</p></li>
            <li><p>JSON API Intergration</p></li>
            <li><p>Parsing & Storing CSV / JSON / XML</p></li>
            <li><p>Web Scraping</p></li>
          </ul>
        </div>
        <div class="skills-product">
          <h4 class="pb-3">Product Development</h4>
          <ul class="list-unstyled">
            <li><p>Agile / Scrum Methodology</p></li>
            <li><p>UX / UI Prototyping (Figma)</p></li>
            <li><p>User Journey / Story Definition</p></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="projects">
      <div>
        <h2>PROJECTS</h2>
        <p style="width: 280px;">Here's a list of some of my projects:</p>
      </div>
      <div class="project-cards row">
        <% @web_projects.each do |project| %>
          <div class="column">
            <%= link_to web_project_path(project) do %>
              <div class="project-card" style="background-image: url(<%= project.home_image %>), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
                <%= image_tag project.home_image, alt: "#" %>
                <div class="project-card-text">
                  <h3><%= project.title %></h3>
                  <p>Web Application</p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="contact-footer">
      <h2>LET'S CHAT</h2>
      <p>If you have an idea for a website or product you'd like to build, I'd love to discuss it with you.</p>
      <p>You can email me at <strong>benjamin.toosey@gmail.com</strong> or get in touch via social media.</p>
    </div>
  </div>
</div>
